
# Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [2]:
variable = None

2. > Create a variable containing your name (Points : 5)

In [3]:
name = 'Shellya Nur Atqiya'
name

'Shellya Nur Atqiya'

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [4]:
classroom_items=['table','chair','board','marker','book']
classroom_items

['table', 'chair', 'board', 'marker', 'book']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [5]:
menu={'Food':['Nasi Goreng','Mie Goreng','Soto','Sate','Bakso'],
     'Price':['Rp15.000','Rp20.000','Rp25.000','Rp30.000','Rp35.000']}
menu

{'Food': ['Nasi Goreng', 'Mie Goreng', 'Soto', 'Sate', 'Bakso'],
 'Price': ['Rp15.000', 'Rp20.000', 'Rp25.000', 'Rp30.000', 'Rp35.000']}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [6]:
price=12000
quantity_sold=20
discount=0.1

total_price=price*quantity_sold
discount_earned=0.1*total_price
total_money=total_price-discount_earned
total_money

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [7]:
# Create list of countries in the world (total 7 countries) (Points : 5)

countries=['Indonesia','Swiss','Singapore','Turki','New Zealand','South Korea','Japan']
countries

['Indonesia',
 'Swiss',
 'Singapore',
 'Turki',
 'New Zealand',
 'South Korea',
 'Japan']

In [8]:
# Get 4 countries from the first index of the list (Points : 5)

countries[0:4]

['Indonesia', 'Swiss', 'Singapore', 'Turki']

In [9]:
# Append new country to the list (Points : 5)

countries.append('Canada')
countries

['Indonesia',
 'Swiss',
 'Singapore',
 'Turki',
 'New Zealand',
 'South Korea',
 'Japan',
 'Canada']

In [10]:
# Drop one country from the list (Points : 5)

countries.remove('Japan')
countries

['Indonesia',
 'Swiss',
 'Singapore',
 'Turki',
 'New Zealand',
 'South Korea',
 'Canada']

In [11]:
# Get country in the last index (Points : 5)

countries[-1]

'Canada'

# Dictionary Data Operation

6. >  Follow the instructions below

In [12]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [13]:
# Print all keys in customer (Points : 5)

dict.keys(customer)

dict_keys(['name', 'age', 'gender', 'membership'])

In [14]:
# Print all customer names (Points : 5)

customer['name']

['Dio', 'Eka', 'Wayu', 'Riki']

In [15]:
# Print the first customer name (Points : 5)

customer['name'][0]

'Dio'

In [16]:
# Drop "age" key from the dictionary (Points : 5)

del customer['age']
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [17]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 


customer.update({'gender':['Male','Female','Female','Male']})
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': ['Male', 'Female', 'Female', 'Male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}